* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
 body {
    background-image: linear-gradient(to right,#ff69b4, rgb(131, 131, 228), gray );

 }   

.mia{
    width: 100%;
    
}
.card-body {
    margin-top: 15%;

}

.col-md-10{
    background-image: linear-gradient(to right,#ff69b4, rgb(131, 131, 228), gray );
    
    
}
#title {
    font-size: 3rem;
}

#parrafo {
    font-size: 3rem;  
}


.text-muted {
    font-size: 3rem;  
}

.img {
 width: 20%;
 margin-top: 4%;
 margin-left: 40%;
 border-radius: 80%;
}




